[package]
name = "aws-smithy-http-server"
version = "0.66.0"
authors = ["Smithy Rust Server <smithy-rs-server@amazon.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/smithy-lang/smithy-rs"
keywords = ["smithy", "framework", "web", "api", "aws"]
categories = ["asynchronous", "web-programming", "api-bindings"]
description = """
Server runtime for Smithy Rust Server Framework.
"""
publish = true
rust-version = "1.88"

[features]
default = []
unredacted-logging = []
request-id = ["dep:uuid"]
aws-lambda = ["dep:lambda_http"]

[dependencies]
aws-smithy-cbor = { path = "../aws-smithy-cbor" }
aws-smithy-http = { path = "../aws-smithy-http", features = ["rt-tokio"] }
aws-smithy-json = { path = "../aws-smithy-json" }
aws-smithy-runtime-api = { path = "../aws-smithy-runtime-api" }
aws-smithy-types = { path = "../aws-smithy-types", features = [
    "http-body-1-x",
] }
aws-smithy-xml = { path = "../aws-smithy-xml" }

bytes = "1.10.0"
futures-util = { version = "0.3.29", default-features = false }

http = "1.3.1"
http-body = "1.0.1"
hyper = { version = "1.6", features = ["server", "http1", "http2"] }
hyper-util = { version = "0.1.16", features = [
    "tokio",
    "server",
    "server-auto",
    "server-graceful",
    "service",
    "http1",
    "http2",
] }
http-body-util = "0.1.3"

lambda_http = { version = "1", optional = true }

mime = "0.3.17"
nom = "7.1.3"
pin-project-lite = "0.2.14"
regex = "1.12.2"
serde_urlencoded = "0.7"
thiserror = "2"
tokio = { version = "1.40.0", features = ["full"] }
tower = { version = "0.4.13", features = [
    "util",
    "make",
], default-features = false }
tower-http = { version = "0.6", features = [
    "add-extension",
    "map-response-body",
] }
tracing = "0.1.40"
uuid = { version = "1.1.2", features = ["v4", "fast-rng"], optional = true }

[dev-dependencies]
pretty_assertions = "1"
hyper-util = { version = "0.1", features = [
    "tokio",
    "client",
    "client-legacy",
    "http1",
    "http2",
] }
tracing-subscriber = { version = "0.3", features = ["fmt"] }
tower = { version = "0.4.13", features = ["util", "make", "limit"] }
tower-http = { version = "0.6", features = ["timeout"] }

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
rustdoc-args = ["--cfg", "docsrs"]
# End of docs.rs metadata
