# Example changelog entries
# [[aws-sdk-rust]]
# message = "Fix typos in module documentation for generated crates"
# references = ["smithy-rs#920"]
# meta = { "breaking" = false, "tada" = false, "bug" = false }
# author = "rcoh"
#
# [[smithy-rs]]
# message = "Fix typos in module documentation for generated crates"
# references = ["smithy-rs#920"]
# meta = { "breaking" = false, "tada" = false, "bug" = false }
# author = "rcoh"

[[smithy-rs]]
message = "Switch to `base64` crate"
references = ["smithy-rs#1294"]
meta = { "breaking" = true, "tada" = false, "bug" = false }
author = "david-perez"

[[smithy-rs]]
message = "Fix link to Developer Guide in crate's README.md"
references = ["smithy-rs#1262"]
meta = { "breaking" = false, "tada" = false, "bug" = false }
author = "liubin"

[[aws-sdk-rust]]
message = "Fix link to Developer Guide in crate's README.md"
references = ["smithy-rs#1262"]
meta = { "breaking" = false, "tada" = false, "bug" = false }
author = "liubin"

[[smithy-rs]]
message = "Update all runtime crates to [edition 2021](https://blog.rust-lang.org/2021/10/21/Rust-1.56.0.html)"
references = ["aws-sdk-rust#490"]
meta = { "breaking" = true, "tada" = false, "bug" = false }
author = "Velfi"

[[aws-sdk-rust]]
message = "Update all SDK and runtime crates to [edition 2021](https://blog.rust-lang.org/2021/10/21/Rust-1.56.0.html)"
references = ["aws-sdk-rust#490"]
meta = { "breaking" = true, "tada" = false, "bug" = false }
author = "Velfi"

[[aws-sdk-rust]]
message = "Treat blank environment variable credentials (`AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`) as missing instead of attempting to use them to sign requests."
references = ["aws-sdk-rust#1271"]
meta = { "breaking" = false, "tada" = false, "bug" = true }
author = "elrob"

[[aws-sdk-rust]]
message = "Add support for configuring the session length in [AssumeRoleProvider](https://docs.rs/aws-config/latest/aws_config/sts/struct.AssumeRoleProvider.html)"
references = ["aws-sdk-rust#479", "smithy-rs#1296"]
meta = { "breaking" = false, "tada" = false, "bug" = false }
author = "rcoh"

[[aws-sdk-rust]]
message = "Add caching to [AssumeRoleProvider](https://docs.rs/aws-config/latest/aws_config/sts/struct.AssumeRoleProvider.html)"
references = ["smithy-rs#1296"]
meta = { "breaking" = false, "tada" = false, "bug" = false }
author = "rcoh"

[[smithy-rs]]
message = "Update urlencoding crate to v2.1.0"
references = ["smithy-rs#1301"]
meta = { "breaking" = false, "tada" = false, "bug" = false }
author = "benesch"
