*                                               @awslabs/rust-sdk-owners
/buildSrc/                                      @awslabs/rust-sdk-owners @crisidev @david-perez
/codegen-core/                                  @awslabs/rust-sdk-owners @awslabs/smithy-rs-server
/codegen-server/                                @awslabs/smithy-rs-server
/codegen-server-test/                           @awslabs/smithy-rs-server
/rust-runtime/aws-smithy-http-server/           @awslabs/smithy-rs-server
/rust-runtime/aws-smithy-http-server-python/    @awslabs/smithy-rs-server

# Either team is able to modify this file to release new smithy-rs versions.
gradle.properties                               @awslabs/rust-sdk-owners @awslabs/smithy-rs-server
