[package]
name = "aws-runtime"
version = "1.6.0"
authors = ["AWS Rust SDK Team <aws-sdk-rust@amazon.com>"]
description = "Runtime support code for the AWS SDK. This crate isn't intended to be used directly."
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/smithy-lang/smithy-rs"

[features]
event-stream = ["dep:aws-smithy-eventstream", "aws-sigv4/sign-eventstream"]
http-02x = []
http-1x = []
test-util = ["dep:regex-lite"]
sigv4a = ["aws-sigv4/sigv4a"]

[dependencies]
aws-credential-types = { path = "../aws-credential-types" }
# TODO(httpRefactor): Remove the http0-compat feature
aws-sigv4 = { path = "../aws-sigv4", features = ["http0-compat"] }
aws-smithy-async = { path = "../../../rust-runtime/aws-smithy-async" }
aws-smithy-eventstream = { path = "../../../rust-runtime/aws-smithy-eventstream", optional = true }
aws-smithy-http = { path = "../../../rust-runtime/aws-smithy-http" }
aws-smithy-runtime = { path = "../../../rust-runtime/aws-smithy-runtime", features = ["client" ] }
aws-smithy-runtime-api = { path = "../../../rust-runtime/aws-smithy-runtime-api", features = ["client", "http-1x"] }
aws-smithy-types = { path = "../../../rust-runtime/aws-smithy-types", features = ["http-body-1-x"]}
aws-types = { path = "../aws-types" }
bytes = "1.10.0"
fastrand = "2.3.0"
http-02x = { package = "http", version = "0.2.9" }
http-body-04x = { package = "http-body", version = "0.4.5" }
http-1x = { package = "http", version = "1.1.0"}
http-body-1x = { package = "http-body", version = "1.0.0"}
percent-encoding = "2.3.1"
pin-project-lite = "0.2.14"
regex-lite = { version = "0.1.5", optional = true }
tracing = "0.1.40"
uuid = { version = "1" }

[dev-dependencies]
arbitrary = "1.3"
aws-credential-types = { path = "../aws-credential-types", features = ["test-util"] }
aws-smithy-async = { path = "../../../rust-runtime/aws-smithy-async", features = ["test-util"] }
aws-smithy-protocol-test = { path = "../../../rust-runtime/aws-smithy-protocol-test" }
aws-smithy-runtime-api = { path = "../../../rust-runtime/aws-smithy-runtime-api", features = ["test-util"] }
aws-smithy-types = { path = "../../../rust-runtime/aws-smithy-types", features = ["test-util"] }
bytes-utils = "0.1.2"
convert_case = "0.6.0"
futures-util = { version = "0.3.29", default-features = false }
http-body-util = "0.1.3"
proptest = "1.2"
serde = { version = "1", features = ["derive"]}
serde_json = "1"
tokio = { version = "1.23.1", features = ["macros", "rt", "time"] }
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
tracing-test = "0.2.4"

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
rustdoc-args = ["--cfg", "docsrs"]
# End of docs.rs metadata

[package.metadata.smithy-rs-release-tooling]
stable = true
