pokemon-service-client/
pokemon-service-server-sdk/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
$RECYCLE.BIN/
**/*.rs.bk
*.cab
*.icloud
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.node
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tsbuildinfo
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.dynamodb/
.env
.env.test
.eslintcache
.fseventsd
.fusebox/
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/*
/target
Cargo.lock
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
bower_components
build/Release
coverage
dist
ehthumbs.db
ehthumbs_vista.db
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
yarn-debug.log*
yarn-error.log*
package-lock.json
index.d.ts
index.js
pokemon-service-server-sdk.*.node
