[package]
name = "aws-smithy-http-server-python"
version = "0.0.0-smithy-rs-head"
authors = ["Smithy Rust Server <smithy-rs-server@amazon.com>"]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/smithy-rs"
keywords = ["smithy", "framework", "web", "api", "aws"]
categories = ["asynchronous", "web-programming", "api-bindings"]
description = """
Python server runtime for Smithy Rust Server Framework.
"""
# until this is not stable, it is not publishable.
publish = false

# [lib]
# name = "aws_smithy_http_server_python"
# crate-type = ["cdylib"]

[dependencies]
aws-smithy-http-server = { path = "../aws-smithy-http-server" }
aws-smithy-http = { path = "../aws-smithy-http", features = ["rt-tokio"] }
aws-smithy-types = { path = "../aws-smithy-types" }
bytes = "1.1"
futures = "0.3"
futures-core = "0.3"
http = "0.2"
hyper = { version = "0.14", features = ["server", "http1", "http2", "tcp", "stream"] }
num_cpus = "1.13"
paste = "1.0"
pin-project = "1"
pyo3 = { version = "0.16.5", features = ["extension-module"] }
pyo3-asyncio = { version = "0.16.0", features = ["attributes", "tokio-runtime"] }
signal-hook = { version = "0.3", features = ["extended-siginfo"] }
socket2 = { version = "0.4", features = ["all"] }
thiserror = "1.0.31"
tokio = { version = "1", features = ["full"] }
tokio-util = "0.7"
tokio-stream = "0.1"
tower = "0.4"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[dev-dependencies]
pretty_assertions = "1"

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]
rustdoc-args = ["--cfg", "docsrs"]
# End of docs.rs metadata
