# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# This workflow performs a scheduled dry-run for smithy-rs release.
# When run, it only produces release artifacts, but will not cut a release tag in GitHub or publish to crates.io.

name: Scheduled smithy-rs dry-run release
run-name: ${{ github.workflow }}
on:
  schedule:
    # Runs 00:00 UTC every day
  - cron: 0 0 * * *

permissions:
  id-token: write

jobs:
  smithy-rs-scheduled-dry-run-release:
    name: Scheduled dry-run release
    if: github.repository == 'smithy-lang/smithy-rs'
    uses: ./.github/workflows/release.yml
    with:
      commit_sha: main
      dry_run: true
      skip_ci: true
    secrets:
      RELEASE_AUTOMATION_BOT_PAT: ${{ secrets.RELEASE_AUTOMATION_BOT_PAT }}
      RELEASE_AUTOMATION_BOT_CRATESIO_TOKEN: ${{ secrets.RELEASE_AUTOMATION_BOT_CRATESIO_TOKEN }}
      CANARY_GITHUB_ACTIONS_ROLE_ARN: ${{ secrets.CANARY_GITHUB_ACTIONS_ROLE_ARN }}
      CANARY_STACK_CDK_OUTPUTS_BUCKET_NAME: ${{ secrets.CANARY_STACK_CDK_OUTPUTS_BUCKET_NAME }}
